* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 100vw;
    height: 909px;
    background: linear-gradient(
        #009688 15%,
        #dadbd5 15% 85%
    );
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    display: flex;
    max-width: 1600px;
    max-height: 905px;
}
.contacts-col {
    display: flex;
    width: 535px;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    background-color: white;
}

.chat-col {
    width: calc(1600px - 535px);
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #eaeaea;
    height: 70px;
    padding: 0 10px;
}

img {
    width: 50px;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile span, contact-profile span {
    font-weight: bold;
    margin-left: 5px;
}

.profile-icons i, .chat-icons i {
    margin: 0 7px;
    font-size: 20px;
    color: #b1b1b1;
}

.notification {
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 10px;
}

.bell {
    width: 40px;
    height: 40px;
    background-color: white;
    color: #8edafc;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    line-height: 40px;
    margin-right: 10px;
}

.contact-search {
    font-size: 18px;
    padding: 10px;
    background-color: #fafafa;
}

.contact-search button, input {
    font-size: 16px;
    padding: 6px 25px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.contact-search input {
    cursor: text;
    width: 400px;
}

.contact-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
    
}

.contact-list ul {
    overflow-y: auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact-list li {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #e9ebeb;
    cursor: pointer;
}

.d-flex {
    display: flex;
    align-items: center;
}

.header-chat {
    justify-content: space-between;
    background-color: #eaeaea;
    padding: 10px;
}

.main-chat {
    flex-grow: 1;
    flex-direction: column;
    padding: 50px;

}

.chat-bar {
    height: 70px;
    background-color: #eaeaea;
    justify-content: space-between;
}

.chat-bar input {
    flex-grow: 1;
    cursor: text;
    padding: 10px;
}

.chat-bar i {
    padding: 10px 30px;
    font-size: 20px;
    color: #6b7376;
}

.message-row {
    display: flex;
    margin: 20px;
}
.sent {
    background-color: #d5f9ba;
}

.flex-end {
    justify-content: flex-end;
}

.recieved {
    background-color: #ffffff;
    justify-content: flex-start;
}

.active {
    background-color: #e9ebeb;
}

.message {
    display: flex;
    border-radius: 10px;
}

.message p {
    padding: 5px 10px;
    border-radius: 10px;
    padding: 15px 20px;
}

small {
    align-self: flex-end;
    padding: 5px;
    font-size: 12px;
}
