<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <!-- script vuejs -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- script axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="app" class="container">
            <!-- SEZIONE CONTATTI -->
            <div class="contacts-col">
                <div class="profile">
                    <div class="user-profile">
                        <img src="img/avatar_io.jpg" alt="">
                        <span>Sofia</span>
                    </div>
                    <div class="profile-icons">
                        <i class="fa-solid fa-rotate"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="notification">
                    <span class="bell"><i class="fa-solid fa-bell-slash"></i></span>
                    <span>
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </span>
                </div>
                <!-- SEARCH BAR CONTATTI -->
                <div class="contact-search">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchName" @keyup="searchContact" @keyup.delete="deLetter">
                </div>
                <!-- LISTA CONTATTI -->
                <div class="contact-list">
                    <ul>
                        <li v-show="contact.visible" v-for="(contact, index) in contacts" :class="{active : contactId === index}" @click="changeContact(index)">
                            <div class="contact d-flex">
                                <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                                <span>
                                    <b>{{contact.name}}</b>
                                    <p>{{contact.messages[contact.messages.length-1].message}}</p>
                                </span>
                            </div>
                            <div class="date">
                                <span>{{contact.messages[contact.messages.length-1].date}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- SEZIONE CHAT -->
            <div class="chat-col">
                <div class="header-chat d-flex">
                    <div class="contact-profile d-flex">
                        <img :src="`img/avatar${contacts[contactId].avatar}.jpg`" alt="">
                        <span>
                            <b>{{contacts[contactId].name}}</b>
                            <p>Ultimo accesso oggi alle 12:00</p>
                        </span>
                    </div>
                    <div class="chat-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>   
                    </div>
                </div>
                <!-- MAIN CHAT -->
                <div class="main-chat">
                    <div class="message-row" v-for="message in contacts[contactId].messages" :class="message.status">
                        <div class="message">
                            <p class="sent">{{message.message}}</p>
                            <small>{{message.date}}</small>
                        </div>
                    </div>
                </div>
                <!-- CHAT BAR -->
                <form class="chat-bar d-flex" @submit.prevent="sendMessage">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" required>
                    <i class="fa-solid fa-microphone"></i>
                </form>
            </div>
        </div>
        
        <script src="js/main.js"></script>
    </body>
</html>